
body {
  background-image: url("gym.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  background-color: rgb(47, 51, 51);
  padding-bottom: 50px;
  border: 3px solid rgb(82, 80, 80);
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 3fr;
  height: 400px;
}

.greeting-box {
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  display: grid;
  justify-items: center;
  margin-top: 20px;
}

.options-box {
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 80px;
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.op-box {
  background-color: grey;
  border: 3px solid rgb(82, 80, 80);
}

.op-box-item-row-1 {
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 15px;
  margin: 0px 15px;
  font-size: 1.5rem;
  height: 3.5rem
}

.op-box-item-row-2 {
  justify-self: center;
  font-size: 1.5rem;
  padding: 5px 15px 41px 15px;
  height: 3rem;
  text-align: center;
}

.pyw-box {
  background-color: rgb(47, 51, 51);
  margin: 50px 170px 0px 170px;
  padding-bottom: 50px;
  border: 3px solid rgb(82, 80, 80);
}

.button-box {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-gap: 10px;
  padding: 15px;
}

.pyw-button {
  background-color: black;
  color: white;
  border: 1px solid grey;
}

.form-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: .5fr 1fr .5fr;
  border: 1px solid grey;
  margin: 20px;
  padding: 15px;
}

.inputs1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
}

.label {
  color: white; 
  margin-right: 15px; 
}

.day-selector {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.inputs2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr .5fr;
  grid-gap: 10px;
}

.add-wo-button {
  margin-right: 200px;
}

.waag-box {
  background-color: rgb(47, 51, 51);
  margin: 50px 90px 0px 90px;
  padding-bottom: 50px;
  border: 3px solid rgb(82, 80, 80);
}

.br-ex-box {
  background-color: rgb(47, 51, 51);
  margin: 50px 170px 0px 170px;
  padding-bottom: 50px;
  border: 3px solid rgb(82, 80, 80);
}

.day-box {
  background-color: rgb(47, 51, 51);
  margin: 50px 170px 0px 170px;
  padding-bottom: 50px;
  border: 3px solid rgb(82, 80, 80);
}

.search-box {
  background-color: rgb(47, 51, 51);
  margin: 50px 90px 0px 90px;
  padding: 50px;
  border: 3px solid rgb(82, 80, 80);
  color: white;
}

#sr, #sb {
  display: none;
}

#sr {
  margin-top: 20px;
}

.wo-browser {
  margin-left: 15px;
}

.browse-btn {
  margin-left: 15px;
}

.bold_name {
  font-weight: bold;
  margin-right: 10px;
}

.category {
  margin-right: 20px;
}

.addtoplan {
  float: right;
  padding: 2px;
}

#collapse {
  display: none;
}

.browse-toggle {
  margin-left: 25px;
  margin-right: 25px;
}

.waag-wo-box {
  color: white;
  margin-left: 50px;

}

.waag-wo {
  display: inline;
  text-align: center;
}

.wo-row {
  display: grid;
  grid-template-columns: 1fr .5fr .5fr .5fr;
  align-items: center;
}

.wo-header {
  display: grid;
  grid-template-columns: 1fr .5fr .5fr .5fr;
  color: white;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
}

.remove-wo {
  margin-left: 30px;
  margin-top: 20px;
}











